.contact {
  text-align: center;
}

.contact h2 {
  color:#2e3c4c;
  margin-bottom: 20px;
  
}

.contact p {
  color: #444;
  margin-bottom: 20px;
}

.contact-img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 450px;
  margin: 0 auto;
}

input, textarea {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  background-color: #2e3c4c;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 7px;
}

button:hover {
  background-color: #2262a7;
}